@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  font-family: "Roboto", sans-serif !important;
  font-optical-sizing: auto;
  font-size: 16px !important;
  color: var(--color-black) !important;
}

:root{
  --color-accent:#FF7F50;
  --color-white:#FFFFFF;
  --color-primary:#2a3290;
  --color-black:#000;
  --color-ccc:#cccccc;
  --color-fec:#FECF03;
  --color-red: rgb(227, 17, 17);
  --scrollbarBG: #101314;
  --thumbBG: #90A4AE;
}